html {
  background-color: #05112d;
}
.App {
  margin: 2%;
  padding: 1%;
  text-align: center;
}
input{
  height: 25px;
  width: 50%;
  margin: 5px;

}
button{
  height: 30px;
  width: 15%;
  margin: 5px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}

img {
  width: 100%;
}

h3, p {
  color: white;
}